<!--primera sección: cabecera e imagen-->
        <header class="header">            
            <div class="contenido-header">
                <h1 class="h1">Üzüm Café & Restaurante</h1>
                <h2 class="h2">Descubre Turquía desde tu paladar</h2><br>
                <br><br><br>
                <a href="/about" class="button" style="text-decoration:none">Ver más</a>
          
            </div>
        </header>