<div class="descripcion">                       
    <aside>
        <img src="/images/girl1.jpg">
    </aside>
    <section>
        <h2 class="h2">¿Quienes somos?</h2>                   
        <h1 class="h1">ÜZÜM</h1>
        <br>
        <p class="p">
            Somos un café restaurante que te brinda la experiencia de los más deliciosos platos turcos sin
            salir del país.
        </p>
        <br><br>
        <a href="/partials/about" class="button" style="text-decoration:none">Más información</a>
    </section>      
</div>