<footer class="text-center">
  Elaborado por Karla Altamirano - 2021
  <a href="https://www.linkedin.com/in/karlaemiliaaltamirano22/" style="text-decoration:none">Linkedin</a>
</footer>
  
</body>
</html>