<div class="menu">
    <div class="produc">
        <h1 class="h1">Nuestros Productos</h1>
        <p class="p">Tenemos una gran variedad de platos fuertes, postres y bebidas.</p>
        <br>
        <a href="/menu" class="button" style="text-decoration:none">Ver todo</a>
    </div>
    <br><br>
    <div class="produc">
        <img src="/images/lokum-menu.png"><br><br>
        <figcaption class="txt"> Lokum</figcaption>
        <h4 class="precio">$4.00</h4>
    </div>
    <br><br>
    <div class="produc">
        <img src="images/coffee-menu.png"><br><br>
        <figcaption class="txt"> Café turco </figcaption>
        <h4 class="precio">$3.80</h4>
    </div>
    <br><br>
    <div class="produc">
        <img src="images/dolma-menu.png"><br><br>
        <figcaption class="txt">Dolma</figcaption>
        <h4 class="precio"> $5.00</h4>
   </div>
</div>
