{{> header}}
    <div class="info">
        <h1 class="display-4">Somos Üzüm Cafeteria!</h1>
        <img src="/images/paperplane1.png" alt="paperplane">
        <p class="lead">Te transportamos 11.468km hasta Estambul con nuestros platos y postres.</p>
        <hr class="my-4">
    </div>
    
{{> footer}}