{{> header}}
{{> cabeceraa}}
    
    <!--segunda sección: contenido de la página, información, platos.-->
    <div class="contenido">
      <div class="division"></div>
          {{> descripcion}}
          <div class="division"></div>
          <!--sección menú - inventario-->
          {{> inventario}}
          <div class="division"></div>
          {{> contactos}}
          <div class="division"></div>
{{> footer}}     
