{{> header}}
    <div class="encmenu text-center">
        <img src="/images/mnudisp.png" alt="menu disponible" class="imag">
    </div>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col" class="tit">Nombre</th>
                <th scope="col" class="tit">Precio USD</th>
                <th scope="col" class="tit">Descripción</th>
            </tr>
        </thead>
        <tbody id="res">
            <tr>
                <td>Lokum</td>
                <td>$4.00</td>
                <td>Delicias turcas con pistacho y frutas.</td>
            </tr>
            <tr>
                <td>Café turco</td>
                <td>$3.80</td>
                <td>Café arábigo molido originario de Şanlıurfa.</td>
            </tr>
            <tr>
                <td>Dolma</td>
                <td>$5.00</td>
                <td>Rollitos de hoja de uva rellenos con carne picada y arroz.</td>
            </tr>
            <tr>
                <td>Té - Çay</td>
                <td>$1.00</td>
                <td>Delicioso té negro originario de las costas del mar negro.</td>
            </tr>
            <tr>
                <td>Baklava</td>
                <td>$3.00</td>
                <td>Pastelitos con pasta de pistacho, pistacho triturado y almíbar.</td>
            </tr>
        </tbody>
    </table>
    <script src="helper.js"></script>
{{> footer}}